# QA File Path
QA_FILE_PATH=/Users/Kevin/Documents/Git_Repos/kevin/homework/data/generated_user_manual.csv

# HuggingFace Dataset
DATASET=<HuggingFace_DATASET>
DATASET_HASH=<HuggingFace_DATASET_HASH>
QUES_COLUMN=<YOUR_DATASET_QUES_COLUMN>
ANS_COLUMN=<YOUR_DATASET_ANS_COLUMN>
QUES_PATTERN=<YOUR_QUES_PATTERN>
ANS_PATTERN=<YOUR_ANS_PATTERN>

# OpenRouter & Query Model (or get from HuggingFace)
OPENROUTER_API_KEY=<YOUR_OPENROUTER_API_KEY>
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
QUERY_MODEL=<YOUR_QUERY_MODEL>
QUERY_MODEL_TEMPERATURE=0

# JINA & Embedding Model (or get from HuggingFace)
JINA_API_KEY=<YOUR_JINA_API_KEY>
EMBEDDING_MODEL=jina-embeddings-v3  # needs to be compatible with Pretrained Model

# FAISS Index
FAISS_INDEX_PATH=<YOUR_FAISS_INDEX_PATH>  # ./app/data/db/faiss_index
FAISS_INDEX_NAME=faiss_index

# Tokenizer
TOKENIZER_PATH=<YOUR_FAISS_INDEX_PATH>  # ./app/data/db/tokenizers
PRETRAINED_MODEL=xlm-roberta-base  # needs to be compatible with Embedding Model
PRETRAINED_MODEL_HASH=e73636d4f797dec63c3081bb6ed5c7b0bb3f2089  # security hash to verify file integrity and prevent tampering

# Chunking (by token)
CHUNK_SIZE=300
CHUNK_OVERLAP=30

# RAG
RETRIEVAL_TOP_K=3
SIMILARITY_THRESHOLD=0.8

# Memory
MEMORY_WINDOW=5